.add-item-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.add-item-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.add-item-button.disabled {
    background-color: #f44336;
    cursor: not-allowed;
}

.add-item-button:hover {
    background-color: #0056b3;
}
